/* --- Default Loader (Home - Particle Push) --- */
.loader {
    width: 84px;
    height: 84px;
    position: relative;
    overflow: hidden;
}

.loader:before,
.loader:after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background: #000;
    transform: translate(-50%, 100%) scale(0);
    animation: push 2s infinite ease-in;
}

.loader:after {
    animation-delay: 1s;
}

@keyframes push {
    0% {
        transform: translate(-50%, 100%) scale(1);
    }

    15%,
    25% {
        transform: translate(-50%, 50%) scale(1);
    }

    50%,
    75% {
        transform: translate(-50%, -30%) scale(0.5);
    }

    80%,
    100% {
        transform: translate(-50%, -50%) scale(0);
    }
}

/* --- Dots Loader (Other Pages - Bubble Fade) --- */
.loader-dots,
.loader-dots:before,
.loader-dots:after {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    animation-fill-mode: both;
    animation: bblFadInOut 1.8s infinite ease-in-out;
}

.loader-dots {
    color: #000;
    font-size: 7px;
    position: relative;
    text-indent: -9999em;
    transform: translateZ(0);
    animation-delay: -0.16s;
}

.loader-dots:before,
.loader-dots:after {
    content: '';
    position: absolute;
    top: 0;
}

.loader-dots:before {
    left: -3.5em;
    animation-delay: -0.32s;
}

.loader-dots:after {
    left: 3.5em;
}

@keyframes bblFadInOut {

    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em
    }

    40% {
        box-shadow: 0 2.5em 0 0
    }
}